---
import Layout from "../components/Layout.astro";
import Main from "../components/Main.astro";
import Section from "../components/Section.astro";
import Testimonials from "../components/Testimonials.astro";
const testimonials = [
  {
    content:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt quasi, iste, officia, perspiciatis possimus libero eum at dolores illum consequatur quibusdam nostrum obcaecati expedita? Autem doloremque amet nostrum labore repellat.",
    reference: "cool person",
  },
];
---

<Layout>
  <Main>
    <h1>hello world</h1>
    <Section title="Testimonials">
      <Testimonials />
    </Section>
  </Main>
</Layout>

<style>
  article {
    height: 50px;
    width: 50px;
  }
</style>
