---
import Link from "./Link.astro";
---

<footer class="footer">
  <p>
    Made with{" "}
    <Link href="https://astro.build/">Astro</Link>
    Source code on <Link href="https://github.com/moosashah/landing-page"
      >GitHub</Link
    >
    <p>Copyright &#169; {new Date().getFullYear()} Moosa Shah</p>
  </p>

  <style is:global>
    .footer {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem;
      font-weight: 500;
    }
  </style>
</footer>
